@charset "UTF-8";

.search_form{
	margin-bottom: 20px;
}

.search_field,
.search_keyword{
	height: 20px;
}


.search_btn{
	border: none;
	background-color: transparent;
	position: relative;
	right: 10px;
}