@charset "UTF-8";

.search_form{
	width: 400px;
	margin-bottom: 20px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.search_field,
.search_keyword{
	height: 20px;
	border: none;
	outline: none;    /* 클릭시 효과 없앰 */
}

.search_keyword{
	width: 80%;
	margin-left: 20px;
	align-items: right;
}


.search_btn{
	border: none;
	background-color: transparent;
	position: relative;
	right: 35px;
}

.search_btn i:hover{
	color: blue;
}