:root{
    --xsmall-text : 14px;
    --small-text : 15px;
}

/* 구역 확인용 ------------------------------------------------ */
/* .order_top{
    background-color: pink;
}

.order_path{
    background-color: beige;
}

.order_path_a{
    background-color: rgb(192, 192, 149);
} */


/* --------------------------------------------------------- */

/* order_top ----------------------------------------------- */
/* section : order_top >> order_path */
.order_path{
    display: flex;
    justify-content: right;
    /* height: var(--xsmall-text); */
    font-size: var(--xsmall-text);
}

.order_path_list{
    display: flex;
    margin-right: 30px;
}

.order_path_a{
    padding-left: 10px;
}

.a:not(.last):after{
    content: " > ";
}

/* section : order_top >> order_path_now */
.order_path_now{
    display: flex;
    align-items: center;
    height: var(--xsmall-text);
    font-size: var(--xsmall-text);
}


/* ----------------- 삭제시 display none --------------------------- */
.display_none{
    display: none;
}

/* margin_button */
.order_top,
.order_progress,
.main_cont,
.recommend_product{
    margin-bottom: var(--margin);
}

.cart_row_section{
    margin-bottom: 40px;
}