/* 구역 확인용 ------------------------------------------------ */
.order_main{
    /* border: 1px solid black; */
}
/* .order_main_in{
    height: 1300px;
    background-color: rgba(255, 192, 203, 0.346);
}

.m_header{
    background-color: rgba(0, 0, 255, 0.427);
}
.e_btn_area{
    background-color: rgba(251, 94, 120, 0.223);
}

.m_table{
    background-color: rgb(255, 166, 0);
} */

/* .p_img{
    background-color: antiquewhite;
}
.p_img_a{
    border: 1px solid black;
} */
/* --------------------------------------------------------- */
.order_main_in{
    overflow: scroll;
}

/* head ---------------------------------------------------- */
.m_header{
    display: flex;
    flex-direction: column;
}
/* 더보기 버튼 */
.e_btn_area{
    display: flex;
    justify-content: right;
    padding: 5px 20px 5px 20px;
}

.etc_btn{
    width: 100px;
    padding: 5px 20px 5px 20px;
    border: 3px solid var(--color_begie) ;
    border-radius: 15px;
}

.etc_btn:hover{
    background-color:  var(--color_greyish) ;
    color: white;
    font-weight: bold;
}

/* main ---------------------------------------------------- */
.m_main_t{
    margin-bottom: 60px;
}

.m_main_t h4{
    padding: 5px 10px 5px 10px;
}

/* 테이블 공통 */
.m_table{
    width: 100%;
}

.m_s_t{
    border-bottom: 1px solid var(--color_begie);
}

.t_hr{
    background-color: #d9cec16d;
}

.m_table th{
    height: 40px;
    background-color: var(--color_begie);
}

.m_table td{
    height: 50px;
    padding: 5px 10px 5px 10px;
}

.txt_center{
    text-align: center;
}

.txt_right{
    text-align: right;
}

/* 주문내역, 주문상세 공통 부분 */

/* 주문상품 이미지, 이름 구역 */
.p_cont_imgcont{
    display: flex;
    justify-content: left;
    align-items: center;
}

/* 주문상품 이름 구역 */
.p_cont{
    width: 100%;
    margin: 0px 20px 0px 20px;
}

/* 주문내역, 주문상세 내역 이미지 공통 */
.p_img{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 화면 크기 1150px 미만 부터 적용 */
@media screen and (max-width: 1150px) { 
    .p_img{
        width: 90px;
        height: 90px;
    }
}
/* 화면 크기 700px 미만 부터 적용 */
@media screen and (max-width: 700px) { 
    .p_img{
        width: 80px;
        height: 80px;
    }
}

.p_img_a{
    width: 95%;
    height: 95%;
    margin: auto;
    display: block;
    transition: .4s ease-in-out;
}

.p_img_a img{
  width: 100%;
  height: 100%;
}

.p_img_a:hover{
    width: 100%;
    height: 100%;
}

/* 리스트 공통 */
.list{
    margin: 0px;
    padding: 0px;
}

