/* 구역 확인용 --------------------------- */
/* .m_page{
    border: 1px solid green;
} */

/* .m_page_in{
    border: 1px solid pink;
}*/

/* 
.m_page_area{
    background-color: orange;
    border: 1px solid green;
}*/

/* .m_page_area .a{
    border: 1px solid blue;
}

.num_div .a{
    border: 1px solid black;
}  */

/* ------------------------------------ */
.m_page_in{
    margin: auto;
}

.m_page_area{
    display: flex;
    /* border-top: 1px solid var(--color_begie_op);
    border-bottom: 1px solid var(--color_begie_op); */
}

.m_page_area .a{
    width: 30px;
    padding: 5px;
    text-align: center;
    color: var(--color_begie);
    transition: color .3s ease-in-out;
}

.m_page_area .a:hover{
    color: var(--color_milk_brown);
}

.num_div .active_a{
    color: var(--color_milk_brown);
}

.back_div{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-left: 2px solid var(--color_begie_op);
}

.forward_div{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right: 2px solid var(--color_begie_op);
}

.back_div a:nth-child(1){
    padding-left: 20px;
}

.forward_div a:nth-child(2){
    padding-right: 20px;
}