body{
    width: 100%;
}

.wrap{
	height: 100vh;
	display: grid;
	grid-template-columns: 370px 2fr;
}

.blank{
	width: 370px;
}

.main{
	width: 100%;
	margin-top: 34.453px;
	overflow: scroll;
}	

.main_in{
	width: 95%;
	padding-right: 20px;
    margin: auto;
}

/* 최상단 현재 페이지 */
.m_header h2{
	margin: 0px 0px 20px 0px;
	font-size: 2rem;
}

/* 배달 현황 요약 adminDelivery 배달현황만 적용 (나머지 적용사항은 frame.css에 있음)*/
.m_summary{
    height: 130px;
}

.m_summary_in{
    height: 120px;
}

.cnt_txt{
	margin-top: 10px;
}

.m_content{
	height: 1000px;
}

/* 주문 현황 표 */
.m_content_t{
    width: 100%; 
    margin-bottom: var(--margin);
	overflow: scroll;
    border-collapse: collapse;
    border-bottom: 1px solid var(--color_begie);
}

.m_content_t thead tr{
    height: 40px;
    background-color: var(--color_begie);
}

.m_content_t tbody tr{
    height: 50px;
}

.m_content_t tbody td{
    padding: 10px;
    border-bottom: 1px solid var(--color_begie);
}

.m_content_t td:nth-child(1),
.m_content_t td:nth-child(3){
    text-align: center;
}

.m_content_t th{
    border-left: 2px solid white;
}

/* 버튼 + 현재 무슨페이지인지 구역 */
.m_head{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: var(--margin) 0px var(--margin) 0px;
}

/* 전체 주문건 보기, 전체 배송처리하기 버튼 구역 */
.m_h_btn_area{
	display: flex;
}

/* 현재 무슨 페이지인지 */
.m_h_content{
	width: 50%;
	text-align: left;
}

.m_h_content p{
	width: 100%;
	margin: 0px;
}

/* 배송 현황 버튼 & 전체 배송 처리하기 버튼 공통 */
.c_delivery_btn{
	margin-right: 10px; 
    border: 1px solid var(--color_begie) !important;
    border-radius: var(--radius) !important;
}

/* 배송중일때 버튼 */
.c_delivery_ing{
	background-color: var(--color_greyish) !important;
    color: white !important;
}

/* 버튼 hover 효과 */
.btn_hover:hover{
    background-color: var(--color_greyish) !important;
    color: white !important;
}

.cur_none{
	cursor: default !important;
}

/* 관리자 페이지 */
.m_page div{
	margin-bottom: var(--margin);
}

/* sub header */
.m_sub_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.m_sub_header p{
	font-size: 1rem;
}

/* hr1 */
#hr1{
	width: 100%;
	margin : 0px;
    border: 1px solid #000;
    opacity: 100;
}