@charset "UTF-8";

.cart_row_section{
    min-height: 900px;
}

/* 왼쪽 ----------------------------------------------------- */
/* 
    order_main_left         콘텐츠 메인 왼쪽부분
     ㄴ order_main_left_in
      ㄴ deliver_info        배송정보
*/
.order_main_left_in{
    width: 80%;
    overflow: scroll;
    margin: auto;
}

.order_info_text{
    width: 100%;
    min-width: 700px;
    margin-bottom: 50px;
}

.order_info_text tr:not(.except_tr){
    height: 80px;
    display: flex;
    align-items: center;
}

.order_info_text th{
    width: 170px;
    min-width:170px;
}

/* input 태그 */
.delivery_input{
	width: 120px;
    height: 30px;
    padding: 5px;
    box-shadow: var(--box_shadow);
}

/* input 태그 중 텍스트 긴 타입 */
.input_long{
    width: 650px;
}

/* 배송지 */
.rowspan{
	height: 50px !important;
}

.delivery_radio label{
	margin-right: 15px;
}

.rowspan input{
	box-shadow: none;
}

/* 주소가 없을 경우 등록 버튼 */
.f_btn{
	width: 100px;
}

/* 핸드폰 번호, 이메일 */
.flex_row{
    display: flex;
    align-items: center;
}

.span{
    display: block;
    width: 30px;
    text-align: center;
}

/* 사용 포인트 */
.use_point_txt{
    margin-left: 170px;
}

.can_use_point{
    color: red;
}

.alertText{
    color: red;
    font-weight: bold;
}

.hr{
	border-top: 2px solid var(--color_greyish_op);
}

/* 결제하기 버튼 */
.pay_btn_area{
    width: 250px;
    margin: auto;
}

.pay_btn_area .total_price_button{
    width: 100% !important;
}


/* 오른쪽 ------------------------------------------------------------------ */
/* 
    order_main_right
     ㄴ order_main_right_in     콘텐츠 메인 왼쪽부분
      ㄴ summary_order          주문 요약
      ㄴ slider                 주문 상세
 */

/* 이미지 공통 */
.row_img{
	display: flex;
	justify-content: center;
	align-items: center;
}

.product_img_file{
	width: 100%;
	height: 100%;
}


/* 주문요약 ----------------------------------------------------------------- */
.summary_order{
    box-shadow: var(--box_shadow);
    border-radius: var(--radius);
}

/* 주문 이미지 간략 & 버튼 구역 */
.summary_order_img_btn{
    display: flex;
}

/* 주문 이미지 간략 */
.summary_order_img{
	margin: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    overflow: scroll;
    margin-bottom: var(--margin);
}

.summary_order_img_in{
	margin: auto;
	max-height: 200px;
    display: grid;
    grid-template-columns: repeat(4, 85px);
    place-items: center;
    overflow: scroll;
}

/* 화면 크기 1320px 미만 부터 적용 */
@media screen and (max-width: 1320px) { 
	.summary_order_img_in{
		grid-template-columns: repeat(3, 90px);
	}
} 

/* 화면 크기 1120px 미만 부터 적용 */
@media screen and (max-width: 1120px) { 
	.summary_order_img_in{
		grid-template-columns: repeat(2, 110px);
	}
} 

.summary_order_img_in .row_img_area{
    box-shadow: var(--box_shadow);
    margin: 5px;
}

.summary_order_img_in .row_img{
	width: 90px;
	height: 90px;
}

.summary_order_img_in .img_a{
	width: 85px;
	height: 85px;
	display: block;
}

.summary_order_img_in .img_a:hover{
	width: 90px;
	height: 90px;
}


/* 상세보기 버튼 ------------------------------------------------------------- */
.detail_order_btn{
    width: 20%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail_btn{
    padding: 10px !important;
    border-radius: 50% !important;
    font-size: 1.2rem !important;
    background-color:  var(--color_greyish) !important;
    color: white !important;
    transition: .5s ease-in-out !important;
}

.detail_btn:hover{
   background-color: var(--color_begie) !important;
   color: black !important;
}

.total_price_txt_area{
    padding: 10px;
}

.summary_order_price .total_price_txt_area{
	padding: 20px;
}

/* ------------------------------ */
.content{
    overflow: hidden;
}

.fade_active{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 1200px;
	background-color: rgba(216, 206, 192, 0.15);
	
	transition: all .8s ease-in-out;
	z-index: 400px;
}

.fade_active_txt{
	color: var(--color_begie) !important;
	transition: all .8s ease-in-out;
}

.fade_active_txt input,
.fade_active_txt li{
	color: var(--color_begie);
	transition: all .8s ease-in-out;
}


/* 상세보기 ----------------------------------------------------------------- */
.slider{
    width: 600px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 220px;
    right: -700px;
    transition: all .8s ease-in-out;
    background-color: white;
    box-shadow: var(--box_shadow);
    z-index: 305; 
  
}

/* 상세보기 보여주기 ---------------------------------------------------------- */
.show{
    position: absolute;
    top: 220px;
    right: 2px;
}

/* 요약 hidden */
.hidden{
    visibility: hidden;
 /*    transition: ease-in-out; */
    
}
  
/* 상세보기 상세 ------------------------------------------------------------- */
.detail_order_btn{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--margin);
}

.detail_order_btn h3{
    padding-left: 10px;
}

/* 주문 상세 목록 - row */
.rows_area{
    max-height: 350px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    margin-bottom: var(--margin);
}

.row_area{
	width: 90%;
	height: 165px;
    margin-bottom: 10px;
    box-shadow: var(--box_shadow);
}

/* 주문 상세 목록 - 장바구니 상품 이미지 */
.slider .row_img_area{
	width: 120px;
}

.slider .row_img{
    width: 115px;
    margin: 5px;
}

.slider .img_a{
    width: 110px;
    display: block;
    transition: width .5s ease-in-out;
}

.slider .img_a:hover{
	width: 115px;
}

/* 주문 상세 목록 - 장바구니 상품 정보 */
.row_cont_area{
    width: 300px;
    margin: 20px 10px 20px 10px;
}   

/* 주문 상세 목록 - 장바구니 상품 가격 */
.row_price_area{
	 width: 120px;
	 margin: 20px 10px 20px 0px;
	 text-align: center;
}

/* 총 주문 가격 */
.total_price_area1{
    width: 90%;
    margin: auto;
    margin-bottom: var(--margin);
}
.total_price_area2{
    padding: 10px;
}

/* 주소 선택 모달 창 --------------------------------------------------------- */
.modal_body {
     position: absolute;
     top: 60%;
     left: 50%;

     width: 500px;
     height: 600px;

     padding: 20px;

     text-align: center;

     background-color: rgb(255, 255, 255);
     border-radius: 10px;
     box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

     transform: translateX(-50%) translateY(-50%);
 }
 
 /* 모달 - 주소등록하기 버튼 */
 .btn_a{
 	width: 95%;
 	margin: auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: var(--margin);
}

.btn_a .btn:not(.modal_close){
	background-color: var(--color_greyish) !important;
	color: white;
	font-size: 13px;
}

.btn_a .btn:hover:not(.modal_close){
	background-color: var(--color_begie) !important;
}

.btn_alert{
	margin: 5px;
	color: var(--color_milk_brown);
}
 
 /* 모달 - 주소 테이블 */
 .modal_table{
 	width: 450px;
 	margin: auto;
 	border: 1px solid var(--color_greyish);
 	border-collapse: collapse;
 }
 
 .modal_table th,
 .modal_table td{
 	padding: 5px 0px 5px 0px;
 }
 
 .t_border_top{
 	border-top: 1px solid var(--color_greyish);
 }
 
 .t_border_bottom{
 	border-bottom: 1px solid var(--color_greyish);
 }
 
 .t_select:hover{
 	font-weight: bold;
 	color: var(--color_greyish);
 }
 
.display_none{
	 display: none !important;
} 