@charset "UTF-8";

/* 이미지크기 */
.img_a{
    display: block;
}

.product_img_file{
    width: 150px;
    height: 150px;
    padding: 10px;
}

/* 금액 input 부분 */
.price_txt{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 아이콘 설정 */
.fa-heart, 
.fa-trash{
    font-size: 1rem;
    color: var(--color_begie)
} 

.fa-heart:hover{
    color: var(--color_milk_brown);
} 

.fa-trash:hover{
    color: var(--color_milk_brown);
}

.btn_up,
.btn_down,
.gram_btn_up,
.gram_btn_down{
    color: var(--color_begie) !important;
}

.btn_up:hover{
    color: var(--color_milk_brown) !important;
}

.btn_down:hover{
    color: var(--color_milk_brown) !important;
}

.gram_btn_up:hover{
    color: var(--color_milk_brown) !important;
}

.gram_btn_down:hover{
    color: var(--color_milk_brown) !important;
}

.heart_active{
    color: var(--color_milk_brown) !important;
}

/* --------------------------------------------------------- */
/* 
    cart_row_section        장바구니 목록 
     ㄴ order_main_left, rows_area            장바구니 담겨져있는 상품 row
     ㄴ order_main_right total_price_area1    장바구니에 담겨져있는 상품 row들의 총 금액
        ㄴ order_main_right_in total_price_area2
*/
.total_price_area2{  
    padding-bottom: 20px;
    box-shadow: var(--box_shadow);
}/* --------------------------------------------------------- */
/* 
    row_area 장바구니에 담겨져있는 상품
     ㄴ row_img_area        : 상품 
     ㄴ row_cont_area       : 상품정보 (수량, 삭제, 찜 포함)
     ㄴ row_price_area      : 상품가격 (상품 단가 * 수량)
	empty_cart 장바구니에 담겨져있는 상품 없을때
*/

.empty_cart{
	display: flex;
	justify-content: center;
	align-items: center
}

.row_area{
    height: 300px;
    box-shadow: var(--box_shadow);
    overflow: scroll;
}
/* ---------------------------------- */
.row_img_area{
    min-width: 30%;
}
/* ---------------------------------- */
.row_cont_area{
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product_name{
    padding: 10px;
}

/* 재고 1000g 이하부터 */
.c_beans_count{
	margin-top: 10px;
}

/* 수량조절 삭제, 찜 버튼 구역 */
.product_cnt_delete{
    padding: 10px;
    display: flex;
    margin-bottom: 10px;
    z-index: 300;
}

.gram_cnt_btn_area{
    width: 280px;
    display: flex;
    flex-direction: row;
    box-shadow: var(--input_box_shadow);
    border-radius: var(--radius);
}

/* 수량조절 버튼 */
.gram_updown,
.cnt_updown{
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.gram_input_area{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gram_input_area label{
    margin-left: 5px;
    margin-right: 5px;
}

.gram_updown input,
.cnt_updown input{
    width: 80px;
    padding: 10px;
    outline: none;
    text-align: right;
}

.btn_area{
    display: flex;
    flex-direction: column;
}

/* 수량 1일경우 down 버튼, 수량 20일 경우 up 버튼 적용 */
.disabled_btn{
    color: var(--color_greyish) !important;
    border: none !important;
}

.disabled_btn:hover{
    color: var(--color_greyish) !important;
}

/* 삭제버튼, 찜 버튼 공통 */
.btn_dh{
    width: 80px;
}

.btn_dh i{
    font-size: 1rem;
}

.btn_delete{
    margin-left: 10px;
}

/* ---------------------------------- */
.row_price_area{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.row_price_txt{
    padding: 10px;
}
/* --------------------------------------------------------- */

/* 
    ㄴ total_price_area1    장바구니에 담겨져있는 상품 row들의 총 금액
     ㄴ total_price_area2 
      ㄴ total_price_txt_area     총 상품 금액
      ㄴ total_price_button_area  결제하기 버튼구역
*/
.total_price_txt_area{
    padding: 20px;
    overflow: scroll;
}

.total{
    display: flex;
    justify-content: space-between;
}

/* 결제하기 버튼 구역*/
.total_price_button_area{
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.total_price_txt_area h4:not(.h4_not){
    min-width: 100px;
}

/* --------------------------------------------------------- */

/* 
    recommend_products_section   추천상품
     ㄴ recommend_products_section2
      ㄴ recommend_products
       ㄴ recommend_product
        ㄴ recommend_product_area
         ㄴ recommend_img_area
         ㄴ recommend_product_cont
         ㄴ recommend_star
 */
.recommend_products_section{
    height: 500px;
}

.recommend_products{
    width: 100%;
    height: 350px;
    padding-top: 10px;
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(8, 250px);
}

.recommend_product{
    width: 250px;
    height: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recommend_product_area{
    width: 80%;   
}

.recommend_img_area{
	width: 100%;
    height: 125px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--margin);
    
}

.recommend_img .product_img_file{
    width: 120px;
    height: 120px;
    transition: .4s ease;
}

.recommend_img .product_img_file:hover{
	width: 125px;
    height: 125px;
}

.recommend_product_cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--margin);
}

.product_rec_name{
	height: 80px; 
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

/* 별점 색상 */
.recommend_star{
    display: flex;
    justify-content: space-around;
}

.fa-star{
    padding-left: 3px;
    font-size: 1.1rem;
    color: var(--color_begie)
}

.star{
    font-size: 1.3rem;
    color: var(--color_milk_brown);
}

/* 추천 가로 바 */
.recommend_products_section2{
    position: relative;
}

/* indicator 확인 필요 */
#indicator{
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    width: 80%;
    height: 10px;
    border: 1px solid #ccc;
}

#indi_bar{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--color_greyish);
    clip-path:polygon(0% 0%, 10px 0%, 10px 100%, 0% 100%);
    transition:all .2s;
}

/* ----------------- 품절 상품 표시 --------------------------- */
.sold_out_row{
	position: relative;
}

.sold_out_txt{
	width: 90%;
	
	position: absolute;
	top: 35%;
	left: 5%;
	z-index: 300;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sold_out_txt h3, .sold_out_txt p{
	margin-bottom: 10px;
}

.sold_out{
	position: relative;
}

.sold_out::after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: var(--color_begie_op);
}

.sold_out_input{
	color: var(--color_greyish);
}
