@charset "UTF-8";

.order_wrap{
	height: 1200px;
	overflow: scroll;
}

/* m_search 
    ㄴ m_table
       	ㄴ search_term
        ㄴ search_month
        ㄴ search_date
        ㄴ search_btn
*/
.m_search{
    margin-bottom: var(--margin);
}

/* 화면 크기 830px 미만 부터 적용 */
@media screen and (max-width: 480px) { 
    .m_search{
        height: 110px;
    }
}

/* 일자별 */
.search_date{
	display: flex;
	justify-content: right;
	align-items: center;
}

.s_date{
	height: 100%;
}

.s_date input{
    border: none;
    outline: none;
    margin: 10px;
} 


/* 조회 버튼 */
.s_date .etc_btn{
	margin-top: 5px;
}

/* m_main 
    ㄴ m_order_month    : 주문월
    ㄴ m_order_rows     : 주문내역 테이블
        ㄴ m_table
            ㄴ m_order_row
                ㄴ p_date_area
                ㄴ p_cont_area

*/
.m_main{
	height: 1200px;
	overflow: scroll;
}

.m_order_rows{
    margin-bottom: var(--margin);
}

.m_order_month{
    padding-bottom: var(--margin);
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--color_begie);
}

.m_order_month .point_text{
    padding: 10px 20px 10px 20px;
    border: 2px solid var(--color_begie);
    box-shadow: var(--box_shadow);
    border-radius: 20px ;
}

/* row 테이블 */
.m_order_row{
    height: 150px;
    border-bottom: 1px solid rgba(217, 206, 193, 0.2);
}

/* 주문번호, 날짜 */
.p_date_area p{
    margin-bottom: 0px;
}

.p_date{
    display: block;
    transition: .5s ease-in-out;
}

.p_date:hover{
    font-weight: bold;
}

/* 배달 현황 요약 orderList 배달현황만 적용 (나머지 적용사항은 frame.css에 있음)*/
.m_summary_in{
	background-color: var(--color_begie_op);
}

/* 배송 대기일 경우 */
.c_delivery_before{
	color: var( --color_milk_brown);	
}


/* 설명 텍스트 */
.explain_txt{
	color: var(--color_begie);
}

.explain_txt_now{
	padding-left: 20px;
	color: var(--color_greyish);
}
