.order_main_in{
    overflow: scroll;
}

.point_text{
	padding-bottom: 0px;
}

.middle_text{
	padding-bottom: 0px;
}

.sub_middle_text{
	padding-bottom: 0px;
}

table th{
	text-align: center !important;
}

table td:not(.sep_tr td){
	padding: 5px 10px 5px 10px !important;
}

/* head ---------------------------------------------------- */
.m_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: var(--margin);
}
/* 더보기 버튼 */
.e_btn_area{
    display: flex !important;
    justify-content: right !important;
   /*  padding: 3px 20px 3px 20px !important; */
}

.etc_btn{
    width: 100px !important;
    padding: 3px 20px 3px 20px;
    border: 3px solid var(--color_begie)!important ;
    border-radius: 15px !important;
}

.etc_btn:hover{
    background-color:  var(--color_greyish)!important ;
    color: white !important;
    font-weight: bold !important;
}

/* main ---------------------------------------------------- */
.m_main_t{
    margin-bottom: 40px;
}

.m_main_t h4{
    padding: 5px 10px 5px 10px;
}

/* 테이블 공통 */
.m_table{
	width: 100%;
}

.m_table:not(.m_rows_table){
    border-collapse: separate !important;
    border-spacing: 2px;
}

.m_s_t{
    border-bottom: 1px solid var(--color_begie);
}

.t_hr{
    background-color: #d9cec16d;
}

.m_table th{
    height: 40px;
    background-color: var(--color_begie);
}

.m_table td{
    height: 50px;
    padding: 5px 10px 5px 10px;
}

.txt_center{
    text-align: center;
}

.txt_right{
    text-align: right;
}

/* 주문내역, 주문상세 공통 부분 */

/* 주문상품 이미지, 이름 구역 */
.p_cont_imgcont{
    display: flex;
    justify-content: left;
    align-items: center;
}

/* 주문상품 이름 구역 */
.p_cont{
    width: 100%;
    margin: 0px 20px 0px 20px;
}

/* 주문내역, 주문상세 내역 이미지 공통 */
.p_img{
    width: 100px !important;
    height: 100px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 화면 크기 1150px 미만 부터 적용 */
@media screen and (max-width: 1150px) { 
    .p_img{
        width: 90px !important;
        height: 90px !important;
    }
}
/* 화면 크기 700px 미만 부터 적용 */
@media screen and (max-width: 700px) { 
    .p_img{
        width: 80px !important;
        height: 80px !important;
    }
}

.p_img_a{
    width: 95% !important;
    height: 95% !important;
    margin: auto;
    display: block;
    transition: .4s ease-in-out;
}

.p_img_a img{
  width: 100% !important;
  height: 100% !important;
}

.p_img_a:hover{
    width: 100% !important;
    height: 100% !important;
}

/* 리스트 공통 */
.list{
    margin: 0px;
    padding: 0px;
}

/* 전체 취소 버튼 */
.m_order_num{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.m_order_cancel button{
	color: var(--color_begie);
}

.m_order_cancel button:hover{
	color: var(--color_milk_brown);
}

/* 구매하기 버튼(주문내역 요약, 상세 모두 적용) */
.c_delivery_ok{
	border: 1px solid var(--color_begie) !important;
    border-radius: var(--radius) !important;
    font-size: 14px !important;
    font-weight: bold !important;
}

/* 버튼 hover 효과 */
.c_delivery_ok:hover{
    background-color: var(--color_greyish) !important;
    color: white !important;
}

