<?xml version="1.0" encoding="UTF-8"?>

<!-- 
	DTD(Document Type Definition)
	- 작성한 문서가 어떤 문서인지에 대해서 정의해 놓은 것.
	- 하나의 시스템 내에서 사용할 XML 데이터의 구조를 정의하여
	  유효성을 점검시 사용하는 태그.
 -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>

	<typeAliases>
	 	<typeAlias type="com.spring.model.FinalAdminDTO" alias="finalAdminDTO" />
		<typeAlias type="com.spring.model.FinalMemberDTO" alias="finalMemberDTO" />
		<typeAlias type="com.spring.model.PageDTO" alias="pageDTO" />
		
	
		
		<typeAlias type="com.spring.model.BoardMemberDTO" alias="boardMemberDTO" />
		<typeAlias type="com.spring.model.BoardReplyDTO" alias="boardReplyDTO" />
		
		<typeAlias type="com.spring.model.CoffeeCartDTO" alias="coffeeCartDTO" />
		<typeAlias type="com.spring.model.CoffeeOrderDTO" alias="coffeeOrderDTO" />
		
		
		<typeAlias type="com.spring.model.CoffeeStarDTO" alias="coffeeStarDTO" />
		<typeAlias type="com.spring.model.CoffeeTestDTO" alias="coffeeTestDTO" />
		<typeAlias type="com.spring.model.CoffeeTestResultDTO" alias="coffeeTestResultDTO" />
		<typeAlias type="com.spring.model.CoffeeWriteDTO" alias="coffeeWriteDTO" />

		<typeAlias type="com.spring.model.CoffeeBeanDTO" alias="coffeeBeanDTO" />
		<typeAlias type="com.spring.model.BeanDAO" alias="beanDAO" />
		<typeAlias type="com.spring.model.MemberDAO" alias="memberDAO" />
		<typeAlias type="com.spring.model.CoffeeCartDAO" alias="cartDAO" />

		<typeAlias type="com.spring.model.AdminDAO" alias="adminDAO" />

		<typeAlias type="com.spring.model.CoffeeOrderDAO" alias="orderDAO" />
		<typeAlias type="com.spring.model.CoffeeTestDAO" alias="coffeeTestDAO" />

		
		
	</typeAliases>


</configuration>
