@charset "utf-8";
@font-face {
    font-family: 'YESMyoungjo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESMyoungjo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Danjunghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}



/*************************/
/* 메인 페이지 기본
/************************/
.container {
    padding: 0 20px;
    position: relative;
    margin: 0 auto;
}

#main-contents {
    min-width: 1000px;
    min-height: 800px;
    display: block;
    position: relative;
    clear: both;
}
 
.main-contents {
    min-height: 800px;
}

 @media(min-width:1200px) {
    .container {
    min-width: 1200px;
    } 
}

/*************************/
/* 메인 비주얼창 
/************************/

.main-visual .main-title .visual-title{
    top: 200px;
    left: 40%;
    font-size: 54px;
    position: absolute;
    font-family: 'Cafe24Danjunghae';
    z-index: 2;
    color: #fff;
    text-align: center;
}


.main-visual .main-title .btn-outline-light {
    position: absolute;
    top: 420px;
    left: 41%;
    z-index: 2;
    font-size: 24px;
    width: 300px;
    height: 60px;
    font-family: 'Cafe24Danjunghae';
    color: #Fff;
}

.main-visual .main-title .btn-outline-light:hover{
    color: #734338;
    transition: all .5s;
}

.main-contents .main-visual video {
    position: relative;
    width: 100%;
    max-height: 800px;
    object-fit: cover;
    z-index: -999;
}


@media(max-width:1440px) {
    .main-visual {
    height: auto;
    }
    video {
    height: 100%;
    }
    .btn {
    transition: .5s ease-in-out;
    font-size: 30px;
    }
  }


/*************************/
/* 메인 원두 추천 창 
/************************/

.main-recom {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-recom .recom-title {
    font-size: 17px;
    width: 100%;
    height: 360px;
    letter-spacing: 3px;
    padding: 50px 0 0px;
    text-align: center;
    font-family: 'YESMyoungjo-Regular';
}


.main-recom .recom-title .recom-h2 {
    margin: 50px 0 50px 0;
    font-family: 'YESMyoungjo-Regular';
    font-size: 30px;
    text-align: center;
    letter-spacing: 5px;
}




.main-recom .recom-title .recom-txt {
    margin: 50px;
}

.main-recom .recom-wrap {
    margin-top: 50px;
    height: 360px;
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
    background-color: #fff;
}

.main-recom .recom-wrap .swiper-wrapper {
    box-sizing: content-box;
    padding-right: 20px;
    background: transparent !important;
}

.main-recom .recom-wrap .swiper-slide {
    width: 360px;
    object-fit: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: top;
    -ms-flex-align: top;
    -webkit-align-items: top;
    align-items: top;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition:all .3s ease-in-out;
}

.main-recom .recom-wrap .swiper-slide a {
    display: block;
    width: 100%;
    text-align: center;
}

.main-recom .recom-wrap .swiper-slide a:hover #slide-txt {
    -webkit-transition:all .5s ease;
    transition: all .5s ease;
    opacity: .9;
    bottom: 20px;
}

#slide-txt {
    opacity: 0;
    width: 100%;
    height: 80px;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'YESMyoungjo-Regular';
    letter-spacing: 3px;
    color:#fff;
    background:#734338;
    position: absolute;
    bottom: 0px;
  }

.main-recom .recom-wrap .swiper-slide a img {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
    object-fit: cover;
}


/*************************/
/* 메인 카페 추천 창 
/************************/

.main-shop {
    background-color: #fff;
}

.main-shop .shop-title {
    margin-top: 110px;
    width: 100%;

}

.main-shop .shop-title .shop-h2{
    color: #734338;
    text-align: center;    
    margin: 50px 0 50px 0;
    font-family: 'YESMyoungjo-Regular';
    font-size: 30px;
    text-align: center;
    letter-spacing: 5px;
}


.main-shop .shop-wrap {
    margin-top: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 360px;
}

.main-shop .shop-wrap .swiper-wrapper {
    box-sizing: content-box;
    background: transparent !important;
    margin-top: 100px;
    margin-left: 50px;

}

.main-shop .shop-wrap .swiper-slide {
    display: inline-block;
    position: relative;
    width: 310px;
    height: 310px;

}

/* .main-shop .shop-wrap .swiper-slide a:hover #shop-txt {
    -webkit-transition:all .5s ease;
    transition: all .5s ease;
} */

.main-shop .shop-wrap .swiper-slide a {
    filter: brightness(.7);
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
    position: relative;
    width: 100%;
    text-align: center;
}

.main-shop .shop-wrap .swiper-slide a:hover {
    filter: brightness(1);
    text-shadow: 3px solid rgb(0, 1, 4);
}

.main-shop .shop-wrap .swiper-slide a img {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.main-shop .shop-wrap .swiper-slide .shop-info {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    bottom: 35px;
    font-family: 'LINESeedKR-Bd';
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

.main-shop .shop-all {
    text-align: center;
    width: 100%;
}

.main-shop .shop-all .shop-btn {
    margin-top: 50px;
    display: inline-flex;
    width: 280px;
    height: 60px;
    font-size: 15px;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #D9CEC1;
    background-color: #734338;
    font-family: 'YESMyoungjo-Regular';
    border-radius: 5px;
}

.main-shop .shop-all .shop-btn:hover {
    border: 1px solid #D9CEC1;
    background-color: #fff;
    transition: all .35 ease-in-out;
    color: #734338;
}


/*************************/
/* 메인 취향 추천 창 
/************************/

.taste-title {
    width: 100%;
}

.shop-info .shop-name {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -.3px;
    color: #fffdf9;
    text-shadow: rgb(0, 1, 4);

}

.shop-info .shop-loc {
    display: block;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -.3px;
    color: #fffdf9;
    text-shadow: rgb(0, 1, 4);

}

.main-taste .taste-wrap {
    margin-top: 110px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-taste .taste-wrap section {
    display: grid;
    place-items: center;
    align-content: center;
}

.main-taste .taste-wrap .logos {
    display: flex;
    background: transparent;
    width: 100%;
}

.main-taste .taste-wrap .logos img {
    width: 240px;
    height: auto;
}

.logos .taste-box:nth-child(2) {
    transition-delay: 200ms;
}
.logos .taste-box:nth-child(3) {
    transition-delay: 400ms;
}
.logos .taste-box:nth-child(4) {
    transition-delay: 600ms;
}


.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all .5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    filter: drop-shadow();
    transform: translateY(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}


.taste-wrap .taste-title {
    text-align: center;
    width: 100%;
}

.taste-wrap .taste-title h2 { 
    font-size: 36px;
    font-family: 'YESMyoungjo-Regular';
}

.taste-wrap .taste-title p { 
    margin: 50px 0 50px 0;
    font-size: 17px;
    font-family: 'YESMyoungjo-Regular';
}

/*오프캔버스  */
.offcanvas-header{
	display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);

}

.header__content{
	background-color: #a69b8d;
    -webkit-text-size-adjust: 100%;
    font: 100% sans-serif;
    --ikea-font: 'Noto IKEA', 'Noto Sans KR', 'Noto Sans', 'Roboto', 'Open Sans', system-ui, sans-serif !important;
    font-family: var(--ikea-font);
    font-size: .875rem;
    line-height: 1.571;
    visibility: visible;
    text-align: left;
    pointer-events: all;
    color: rgb(var(--colour-text-and-icon-5, 255, 255, 255));
    box-sizing: inherit;
    outline: none;
    margin: 0;
    display: flex;
	align-items: center;
    justify-content: space-around;
    padding: 80px 80px 50px 30px;
}	

.img_no{		
margin-left:15px;
border: 1px solid #FFF;
border-radius: 100%;
height: 100px;
width: 100PX;
 }
	
.header__username{
	margin-bottom: 40px;
	font-size: 20px;
	font-weight: 900;
	color: #fff;
	margin-left: 40px;
	margin-top: 20px;
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.loyalty-modal__close-button{
    -webkit-text-size-adjust: 100%;
    --ikea-font: 'Noto IKEA', 'Noto Sans KR', 'Noto Sans', 'Roboto', 'Open Sans', system-ui, sans-serif !important;
    visibility: visible;
    pointer-events: all;
    box-sizing: inherit;
    outline: none;
    line-height: 1.5;
    margin: 0;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    font-family: inherit;
    font-size: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    color: rgb(var(--colour-neutral-7, 17, 17, 17));
    border: 0;
    transition-property: background-color;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(var(--colour-neutral-1, 255, 255, 255));
    border-radius: 50%;
    border-color: rgb(var(--colour-neutral-1, 255, 255, 255));
    position: absolute;
    top: 1.5625rem;
    right: 2.3125rem;
}

.offcanvas-body{
	
	padding: 0 !important;
}

.pe-3{
	padding-right: 0 !important;
	
}

