/* header */
#header{
    width: 100vw;
    background-color: white;
    padding-top: var(--margin-padding);
    position: fixed;
    top: 0px;
    z-index: 200;   /*다른 레이아웃이 위로 올라오지 않게 */
}

/* header_top */
.headerdiv{  /* header_top div 공통 */
    width: 280px;
    padding: 0px 20px 0px 20px;
}

.header_top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header_login{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: flex-end;
    align-items: flex-end;
}

.header_login a{
    width: 80px;
    text-align: center;
    font-weight: bold;
}

/* header_nav  */
.header_nav{
    margin-top: var(--margin-padding);
    padding-top:  var(--margin-padding);
    padding-bottom: var(--margin-padding);
    box-shadow: var(--box-shadow);
    overflow: scroll;
}

.header_nav ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav_a{
    width: 100px;
    text-align: center;
    display: block;
    transition: color 0.3s;
}

.nav_a:hover{
    color: var(--hover-color);
}

/* footer */
#footer{
    /* width: 100vw; */
    /* display: block; */
    /* position: relative;
    bottom: 0px; */
    margin-top: var(--margin-padding);   
    background-color: white;
}

.footer_alert{
    background-color: var(--light-gray);
    padding-bottom: 10px;
}

.footer_alert p{
    padding-top :10px;
    padding-left: 10px;
}

.footer_alert p i{
    color: green;
}

