@charset "UTF-8";

:root{
    --color_greyish: #A69B8D; 
    --color_begie: #D9CEC1;
    --color_greyish_op: #A69B8Dad; 
    --color_begie_op :  #d9cec1ad;
    --color_milk_brown: #A66B56;
    --color_dark_brown: #734338; 
    --input_box_shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;  
    --box_shadow:  rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    --margin : 20px;
    --radius : 10px;
    --xsmall-text : 14px;
    --small-text : 15px;
}

.header{
    background-color: aliceblue;
    height: 100px;
}
.footer{
    background-color: gray;
    height: 100px;
}

.content{ 
    width: 90%;
    /* height: 1400px; */
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing : 1px;
}

/* ul li 공통사항 */
.list li{
    list-style: none;
}

/* a 공통사항 */
.a{
    text-decoration: none;
    color: black;
}

/* input 공통사항 */
.input{
    border: none;
    background-color: transparent;
    outline: none;
}

/* 버튼 공통사항 */
.btn{
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

/* 
	content 부분 
	content
	 ㄴ order_wrap
	    ㄴ order_top			>> 홈 > 장바구니 > 주문서작성 > 결제완료 > 주문완료
	    ㄴ order_main		>> 장바구니 목록
	    ㄴ order_bottom		>> 장바구니 페이지 : 추천제품
*/

/* margin_button */
.order_top,
.order_main,
.order_bottom{
    margin-bottom: var(--margin);
}

/* order_top ----------------------------------------------- */
.order_path{
    display: flex;
    justify-content: right;
    font-size: var(--xsmall-text);
}

.order_path_list{
    display: flex;
    margin-right: 30px;
}

.order_path_a{
    padding-left: 10px;
}

.a:not(.last):after{
    content: " > ";
}

/* 
    order_main, cart_row_section        장바구니 목록 
     ㄴ order_main_left, rows_area            장바구니 담겨져있는 상품 row
     ㄴ order_main_right total_price_area1    장바구니에 담겨져있는 상품 row들의 총 금액
        ㄴ total_price_area2
*/
.cart_row_section{
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.order_main_left{
    width: 70%;
}

.order_main_right{
    width: 30%;
    position: sticky;
    top: 0px;
}

.order_main_right_in{
    width: 90%;
    margin: auto;
}

/* content 오른편 상품 가격, 전체 배송비, 총 주문금액 */
.total{
    display: flex;
    justify-content: space-between;
}

/* 총 주문금액 */
.all_total_price{
    color: blue;
}

.row_area{
    width: 90%;
    border-radius: var(--radius);
    margin: auto;
    display: flex;
}

.row_img_area{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 결제하기 버튼 공통 */
.total_price_button{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color_greyish);
    border-radius: var(--radius);
    transition: 0.3s ease-in-out;
}

.total_price_button_in{
    margin-left: var(--margin);
    margin-right: var(--margin);
}

.total_price_button h2{
    color: white;
    letter-spacing : 1px;
}

.total_price_button:hover{
    background-color: var(--color_begie);  
}

.total_price_button:hover h2{
    color: black;
}

.total_price_button i{
    background-color: white;
    font-size: 1rem;
    padding: 10px;
    border-radius: 50%;
}

/* 구분선 역할 div 공통 */
.hr_div{
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    height: 2px;
    background-color: var(--color_begie_op);
}

/* 장바구니 목록에 있는 div */
.hr_content{
    margin-left: 40px;
    margin-right: 40px;
}

/* 총 금액에 있는 div */
.hr_price{
    background-color: var(--color_greyish_op);
}

/* input number 화살표 제거 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}