:root{
    --point-color: #FAF7E8;
    --margin-bottom : 20px;
}
.header{
    background-color: aliceblue;
    height: 100px;
}
.footer{
    background-color: gray;
    height: 100px;
}

/* 구역 확인용 ------------------------------------------------ */
/*
.content{
    background-color: palegoldenrod;
}

.order_top{
    background-color: lightblue;
}

.order_progress{
    background-color: lightcyan;
}

.order_total{
    background-color: lightsalmon;
} */

/* --------------------------------------------------------- */

.content{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 90%;
    margin: auto;
    height: 1400px;
    font-family: sans-serif;
}

/* ul li 공통사항 */
.list li{
    list-style: none;
}

/* a 공통사항 */
.a{
    text-decoration: none;
    color: black;
}

.order_top{
    margin-bottom: var(--margin-bottom);
}

.order_progress{
    margin-bottom: var(--margin-bottom);
}

.order_table{
    margin-bottom: var(--margin-bottom);
}

.order_total{
    margin-bottom: var(--margin-bottom);
}