:root{
    --color_white: #F2F2F2; 
    --color_greyish: #A69B8D; 
    --color_begie: #D9CEC1; 
    --color_milk_brown: #A66B56;
    --color_dark_brown: #734338; 
    --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --margin-bottom : 20px;
}

.header{
    background-color: aliceblue;
    height: 100px;
}
.footer{
    background-color: gray;
    height: 100px;
}

.content{ 
    width: 90%;
    height: 1400px;
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* ul li 공통사항 */
.list li{
    list-style: none;
}

/* a 공통사항 */
.a{
    text-decoration: none;
    color: black;
}
