@charset "UTF-8";

@import "compass/css3";
.cont{
background-color: #EAEAEA;
}
.img_1{
	width: 140px;
	
}
.navigation {
  list-style: none;
  margin: 0;  
  background: #EAEAEA;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size:20px;
  -webkit-flex-flow: row wrap;
 	margin-left: 600px;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #980000;
}
.out_btn{
	margin-left: 1800px; 
	font-size :30px; 
	}
.navigation a:hover {
  background: darken(deepskyblue, 2%);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
