/* nav ------------------------------------------------ */
/* 멤버이미지 상단 text*/
.member_head{
    position: absolute;
    top: -60px;
    left: 0px;
}

.member_head a{
    color: white;
} 

/* 멤버 이미지 */
.member_photo_div{  /* 마이페이지 메인*/
    width: 250px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.61);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: var(--mypage-box-shadow);
}

.member_photo{
    width: 150px;
    height: 150px;
    background-color: pink;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    margin: var(--margin-padding);
}

.member_photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: var(--mypage-img-shadow);
   
}

/* 마이페이지 메인 아닌 상세 페이지*/
.section-member .member_photo_div{
    box-shadow: var(--box-shadow);
}

.section-member .member_photo img{
    box-shadow: var(--box-shadow);
}

/* 네이게이션 ----------------------------------- */
.mypage-nav{
    width: 280px;
}

.mypage-nav_h3{
    width: 100%;
    height: 30px;
    margin-top: 10px ;
    margin-bottom: 10px;  
}

.mypage-nav_h3 a{
    transition: font-size 0.4s ease-in-out;
}

.mypage-nav_ul li:last-child{
    margin-bottom: 10px;
}

.mypage-nav_li a{
    display: block;
    width: 200px;
    height: 30px;
    padding: 5px 10px 5px 10px;
    transition: font-size 0.4s ease-in-out;
}

.mypage-nav_h3 a:hover{
    font-size: 1.3rem;
    color: var(--hover-color);
}

.mypage-nav_li a:hover{
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--hover-color);
}


/* 마이페이지 상세페이지 공통 nav ----------------------- */
.mypage-cont_nav_divContainer{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mypage-cont_nav_div{
    width: 100%;
    height: 100%;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.mypage-cont_nav_each{
    height: 40px;
    padding-right: var(--margin-padding);
}

.mypage-cont_nav_each a{
    width: 100%;
    height: 45px;
    padding: 10px;
    display: block;
    transition: color 0.4s ease-in-out;
}

.mypage-cont_nav_each a:hover{
    font-weight: bold;
    color: var(--hover-color);
}

.mypage-cont_nav_effect{
    width: 100%;
    height: 5px;
    /* background-color: pink; */
    border-bottom: 2px solid var(--light-gray);
}
