/* 메인 하단 최근 주문건 & 주문목록 ------------------------------ */
.cont-recent_order{
    width: 100%;
    height: 100%;
    margin-top: var(--margin-padding);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.recent_order_div{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 메인 하단 최근 주문건 상세 */
.recent_order_txt button{
    border-radius: 10px;
    padding: 3px 20px;
    right: 0px;
}

/* 메인 주문건 테이블 */
.order_table{
    border-top : 2px solid var(--main-color);
}

/* 메인 테이블 주문건 & 주문목록 열 */
.order_tbody_date{
    width: 200px;
    text-align: center;
    border-right: 1px solid var(--light-gray);
    font-weight: bold;
}

.order_tbody_date a:hover{
    color: var(--hover-color);
}

/* 메인 테이블 주문 이미지 */
.order_tbody_img{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order_tbody_img a{
    width: 80px;
    height: 120px;
    box-shadow: var(--box-shadow);
}

.order_tbody_img img{
    width: 100%;
    height: 100%;
}

.order_tbody_img a:hover{
    box-shadow: var(--box-shadow-hover);
}

/* 메인 테이블 주문 책 이름 */
.order_tbody_bname{
    width: 400px;
    border-right: 1px solid var(--light-gray);
}

/* 메인 테이블 주문 구매갯수, 가격 */
.order_tbody_cnt,
.order_tbody_price {
    width: 130px;
    text-align: center;
}

.order_tbody_cnt{
    border-right: 1px solid var(--light-gray);
}
