/* 회원정보관리 비밀번호 확인, 회원정보 수정 공통 -------------------------------------- */
.member-info-div .mypage-cont_toptext h3{
    top: 10px;
}

/* 폼형식 테이블 input 공통 (비밀번호 확인, 회원정보수정, 문의하기)*/
.mypage-form{
    margin-top: var(--margin-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mypage-form table input:not(.board-table_inputFile),
.mypage-form table select,
.mypage-form table textarea{
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: var(--light-gray);
    border-radius: 10px;
}

/* 폼형식 테이블 th width 공통 : 회원정보수정, 문의하기 */
.mypage-form table th{
    width: 200px;
}

/* 폼형식 테이블 버튼 공통*/
.mypage-form_btn .btn{
    width: 200px;
    margin: 35px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    font-size: 15px; 
    box-shadow: var(--box-shadow);
    background-color: var(--main-color);
    color: white;
}

.mypage-form_btn .btn:hover{
    background-color: var(--hover-color);
    color: white;
}

/* 해당 클래스를 가진 태그는 화면에서 보여지지 않는다. */
.none{
        display: none;
}
