*{
    text-decoration: none;
    list-style: none;
}

/* 네비게이션바 */
.buy-nav{
    width: 100vw;
    height: 80px;
    padding: 20px;
    position: fixed;
    top: 70px;
    border-top: 4px solid var(--point-color);
    background-color: white;
}

.buy-nav__ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.buy-nav__li:hover{
    font-size: 1.2em;
    transition: 0.8s ease-in-out;
}

.buy-nav__li a{
    color: var(--font-color);
}

.buy-nav__li a:hover{
    color: var(--font-point-color);
}

/* 상품 폼 */
.buy-content{
    width: 100vw;
    height: 80%;
    padding: 10px 10px 150px 10px;

    position: fixed;
    top: 150px;
    overflow: scroll;
}

/* 전체상품을 담고있는 컨테이너 */
.lists{
    position: flex;
    flex-direction: column;
}

/* 상품별 담고있는 컨테이너 */
.products {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.products div{
    width: 24vw;
}

/* 상품정보 */
.product-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.product-info button{
    width: 150px;
    height: 200px;
    padding: 0px;
    border: 0px;
    border-radius: 5px;

    cursor: pointer;
}

.product-info button:hover{
    box-shadow: var(--box-shadow);
}

.product-info img{
    width: 100%;
    height: 100%;
}

/* 품절임박 정보 */
.soonSoldOut{
    height: 0px;
    color: red;
    font-weight: 700;

    position: relative;
    top:10px;

    animation-name: blink;  
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    from {
        color: yellow;
    }
  
    to {
        color: rgb(255, 115, 0);
    }
  }

/* 주문수량 */
.info-order input{
    width: 100px;
}


/* 장바구니 바로주문 버튼 */
.order{
    width: 100vw;
    margin: auto;
    padding: 10px;

    background-color: white;
    position: fixed;
    bottom: 0px;
}

.order input{
    width: 200px;
    margin: 10px;
    padding: 10px;
    
    border-style: none;
    border-radius: 25px;
    background-color: var(--point-op-color);

    cursor: pointer;
}

.order input:hover{
    box-shadow: var(--box-shadow);
}