@charset "UTF-8";
@import url("form.css");

div{
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

hr{
	width: 70%;
	height: 5px;
	background: pink;
	border: none;
}

table{
	border: 1px solid gray;
	border-collapse: collapse;
	text-align: center;
}

th,td{
	padding: 10px;
}

.table_tr_btn{
	background-color: #eaeaea;
}

.page{
	display: flex;
	flex-direction: row;
	justify-content: center;
}


