@charset "UTF-8";
@import url(frame.css);
@import url(type.css);
@import url(buy.css);

/* 메인페이지 이미지크기 */
.index_img{
    width: 50%;
    margin: auto;
    display: block;
    border-radius: 10px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}




